<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>WeSync</string>
	<key>CFBundleName</key>
	<string>WeSync</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.aifamilygroup.reminder</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aifamily</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.aifamilygroup.reminder.dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aifamily-dev</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>WeSync needs camera access to scan invite codes and capture notices or receipts to create tasks automatically.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Used to save task attachment images to your photo library.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>WeSync uses Face ID to protect your private group schedules and tasks.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used to show your approximate location and members on the map, and record locations when completing tasks.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Used to update your approximate location to group members while the app is in the background; you can turn off background location in Me.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
